body{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-image: url(background\ image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
@media (max-width:412px) and (max-height:915px){
    .frame{
        width: 200px;
        background-color: rgb(73, 165, 42);
    }
    .btn{
        width:25px;
        background-color: blue;
    }
}
.frame{
    background-color: rgba(0, 0, 0, 0.329);
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.9);
}
#display{
    height: 50px;
    background-color: rgba(141, 216, 216, 0.925);
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 13px;
    font-size: 32px;
    border-radius: 9px;
    margin-bottom: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn{
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(106, 95, 95);
    cursor: grab;
}
.btn:hover{
    background-color: rgb(194, 207, 203);
}